@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');
    :root {
        --color-white: #fff;
        --color-dark: #2d2d2f;
        --color-grey: #ddd;
    }
    body {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        font-family: 'Fira sans', sans-serif;
        font-size: 16px;
        line-height: 1.5;
        background-color: #53485C;
    }
    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    span {
        font-size: inherit;
    }
    .text {
        font-weight: 400;
    }
    h2 {
        font-size: 4.5em;
        font-weight: 600;
        display: inline-block;
    }
    h3 {
        font-size: 1.5em;
        
    }
    h4, h1 {
        font-size: 1em;
        font-weight: normal;
    }
    #code {
        font-size: 1.2rem;
    }
    
    .flex {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    blockquote .flex {
        color: var(--color-grey);
        justify-content: start;
        flex-wrap: nowrap;
    }
    blockquote #reload {
        margin-left: 15px;
        font-size: 1.5em;
    }
    #upper {
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: var(--color-white);
        padding: 50px 40px;
        height: 100vh;
        transition: background 1s ease-in-out;
    }
    .bg-day {
        background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/bg-day.jpeg')fixed no-repeat center;       
    }
    .bg-night {
        background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/bg-night-unsplash.jpg')fixed no-repeat center;     
    }
    blockquote p {
        font-size: 1em;
        font-weight: 300;
    }
    
    #author {
        margin-top: 15px;
        color: var(--color-white);
        font-weight: medium;
    }

    #location {
        font-weight: bold;
    }

    #btn {
        display: flex;
        justify-content: space-between;
        color: var(--color-dark);
        background: var(--color-white);
        border: none;
        border-radius: 3rem;
        font-size: 0.8em; 
        padding: 8px 16px;
        align-self: flex-end;
        margin-top: 30px;
    }
    button {
        border: none;
        margin-right: 5px;
        text-transform: uppercase;
        font-weight: 500;
        align-self: center;
    }

    blockquote i, #btn {
        cursor: pointer;
    }

    button:focus {
        outline: none;
    }

    #arrow {
        font-size: 1.3em;
        justify-self: flex-end;
    }
    #details {
        color: var(--color-dark);
        background: var(--color-grey);
        padding: 20px 40px;
    }

    .declare {
        display: none;
    }

    #details .flex {
        justify-content: space-evenly;
    }
    #time {
        margin-top: 30px;
        text-transform: uppercase;
    }

    .left div, .right div{
        margin-top: 40px;
        margin-bottom: 50px;
    }

    .hide {
        display: none;
    }


@media screen and (min-width: 768px) {
    
    .declare {
        display: inline;
    }
}


@media screen and (min-width: 1024px) {
    h2 {
        font-size: 210px;
    }
    
    blockquote p{
        max-width: 50%;   
    }
    #author, 
    blockquote p{
        font-size: 1.3em;
    }
#time h4, #time h1 {
    font-size: 1.2em;
}
    blockquote #reload {
        font-size: 2em;
    }

    #upper {
        padding: 50px 12em;
    }
    #btn{
        padding: 8px 15px;    
    }
    button {
        font-size: 1.2em;
    }
    #arrow {
        font-size: 2em;
    }
}